#employees-list{
    list-style-type: none;
    padding: 0;
}

.employee{
    width: 100%;
    background-color: #010351;
    margin: 10px 0;
    color: white;
    border-radius: 5px;
    display: flex;
    padding: 15px 25px;
    align-items: baseline;

}

#name{
    margin: auto;
}

#cross{
    margin-left: auto;
}