/*form*/
form{
    width: 100%;
    text-align: left;
}
.form_question{
    text-align: center;
    font-size: small;
}

/*custom buttons*/
.green_button {
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
    border: none;
}
.verify_green_button {
    text-align: center;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 30px;
    
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
    border: none;
}
.purple_button {
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #010351;
    border: none;
}
.purple_buttonE {
    text-align: center;
    width: 10%;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #010351;
    border: none;
}

input[type="file"]{
   display: none;
}
.home_green_button {
    text-align: center;
    width: 30%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
    border: none;
}
.edit_green_button {
    text-align: center;
    width: 30%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    /* display: inline-block; */
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
    border: none;
}
.modal_green_button {
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
    border: none;
}
/*red button*/
.red_button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #be0000;
    border: none;
}
.reset_red_button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    /* display: inline-block; */
    padding: 5px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #be0000;
    border: none;
}

.listOfProjects{
    overflow: scroll;
}

/*footer*/
.my-footer{
    position: absolute;
    bottom: 0;
    background: #010351;
    width: 100%;
    text-align: center;
    height: 10%;
}
.credits {
    text-align: center;
    font-size: 13px;
    color: #fff;
}

/*others*/
.position_right{
    text-align: right;
}